*{
    box-sizing:border-box;
}
body{
    background-color: rgb(122,160,154);
    margin:0;
    padding-top:70px;
    font-family:"Times New Roman", serif;
}

/* NAVBAR */
.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background: rgb(88,146,137);
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:25px;
    padding:15px 40px;
    border-bottom:2px solid rgb(0,1,66);
    z-index:1000;
}

/* Pulsanti */
.navbar a{
    text-decoration:none;
    color:black;
    font-size:20px;
    font-weight:bold;
    padding:14px 28px;
    border-radius:8px;
    background: rgba(255,255,255,0.2);
    box-shadow:0 3px 8px rgba(0,0,0,0.25);
    transition:0.3s;
}
.navbar a:hover{
    background: rgba(255,255,255,0.5);
    transform: translateY(-2px);
}

/* HOME */
.contentHome{
    display:flex;
    gap:10px;
    padding:10px 4%;
    align-items:center;
}

.homeImg{
    width:360px;
    max-width:100%;
    border-radius:14px;
    box-shadow:0px 6px 18px rgba(0,0,0,0.25);
}

.homeText{
    flex:1;
}
/* TESTI */
p{
    font-size:18px;
    line-height:1.6;
}

/* LISTA */
ul{
    padding:15px 5%;
    max-width:900px;
}

li{
    margin-bottom:18px;
}

li p{
    font-size:19px;
    line-height:1.6;
}

/* CONTATTI */
.contattiBox{
    padding:10px 4%;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.contattoRiga{
    display:flex;
    align-items:center;
    gap:7px;
    font-size:19px;
}

.iconaContatto{
    width:30px;
    height:30px;
}

/* MOBILE */
@media (max-width:768px){
    
    /* BODY */
    body{
        padding-top:140px;
    }

    /* NAVBAR — 2 pulsanti per riga */
    .navbar{
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        padding:15px 7px;
        justify-items:center;
    }

    .navbar a{
        width:100%;
        text-align:center;
        font-size:16px;
        padding:10px 8px;
        margin: 0px 5px;
        box-sizing:border-box;
    }

    /* HOME + ARTISTA LAYOUT */
    .contentHome{
        flex-direction:column;
        text-align:center;
        padding:7px 3%;
        gap:7px;
    }

    /* IMMAGINI HOME */
    .homeImg{
        width:220px;
        margin:auto;
    }

    /* TESTI */
    p, li p{
        font-size:16px;
        line-height:1.5;
    }

    /* LISTA ESPERIENZE */
    ul{
        padding:15px 4%;
    }

    /* CONTATTI */
    .contattiBox{
        padding:7px 3%;
        gap:5px;
    }

    .contattoRiga{
        font-size:16px;
    }

}









